 <h1>Hello, world!</h1>
    <div class="row justify-content-around">
        {{#each products}}
        <div class="card" style="width: 18rem;">
            <img src="./img/auto.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{name}}</h5>
              <p class="card-text">el precio del producto es: {{price}} $ y tiene un stock de: {{stock}}</p>
              <a href="#" class="btn btn-primary">Comprar</a>
            </div>
          </div>
       {{/each}}
    </div>
